<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf_8">
        <title>Django Level Two</title>
        <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
        <!-- <link rel="stylesheet" href="{% static "css/mystyle.css" %}" /> -->



    </head>
    <body>
        <h1> hi welcome to django level two  </h1>
        <h2>here are your access models </h2>
        
        <div class="djangtwo">
            {% if access_records %}
            <table>
                <thead>
                    <th>site name </th>
                    <th>date accessed </th>
                </thead>
                
            
            {% for acc in access_records%}
            <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
            <p>NO ACCESS RECORDS FOUND</p>
            {% endif %}
        </div>

    </body>

</html>